/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #8ac6d1;
  color: #fff;
  transition: background-color 0.5s ease;
}

.header {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 60%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  border: none;
}

/* Weather info styles */
.weather-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  justify-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.city {
  font-size: 2rem;
  font-weight: 500;
  grid-row: 1;
}

.temperature {
  font-size: 3rem;
  font-weight: 500;
  grid-row: 2;
}

.weather-icon {
  grid-row: 3;
}

.weather-icon img {
  max-width: 150px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Other weather details */
.weather-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

/* Forecast styles */
.forecast {
  margin-bottom: 2rem;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  background-color: rgba(255, 255, 255, 0.2);
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.forecast-day:hover {
  transform: translateY(-10px);
}

.clothing-suggestion {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clothing-suggestion span {
  margin: 10px;
}